:root {
  --primary-color: #F6BD60;
  --background-color: #DDD5D0;
  --black: #161616;
  --title-font: "Meno Banner", sans-serif;
  --body-font: "Acumin", sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, button, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: 100% var(--body-font);
  vertical-align: baseline;
  box-sizing: border-box;
  color: var(--black);
  text-decoration: none;
  appearance: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background-color: var(--background-color);
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  padding: 0.5rem 1rem;
  border: 1px solid var(--black);
  border-radius: 0.25rem;
  transition: transform 0.1s ease-in-out;
}

input:focus-visible {
  outline: 1px solid var(--black);
}

.underline {
  position: relative;;
}

.underline:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--black);
  transition: width 0.25s ease-in-out;
}

.underline:hover:before {
  width: 100%;
}

h1 {
  font-family: var(--title-font);
  font-weight: 600;
  font-size: 4rem;
}